ul{
    max-width: 200px;
    margin-left: 10%;
}

h2{
    margin-bottom: 2%;

}

input{

    border: 2px solid var(--text-color-title);
    border-radius: 20px;
    color: var(--text-color-title);
    background-color: var(--text-negative-color);
    padding: 5px;
}

.transferenciar{
 margin-bottom: 2%;
}   

.iniciar{
    border-radius: 10px;
    padding: 10px;
    gap: 15px;

}

.importe input{
    margin-bottom: 2%;
    width: 10%;
}

.concepto input{
    margin-bottom: 2%;
    width: 50%;
}

button {
    color: var(--text-negative-color);
    background-color: var(--submenu);
    border-radius: 20px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 10px;

}

button:hover {
    color: var(--text-negative-color);
    background-color: var(--text-color-title);
    font-size: 14px;
}
