.dropdown-menu{
    position: relative;
}

.dropdown-menu .submenu{
    background-color: var(--submenu);
    position: absolute;
    display: none;
}

.dropdown-menu:hover .submenu{
    background-color: var(--submenu);
    display: block;
}

.logo-main-page{
    text-align: center;
    gap: 10px;
}

img{
    margin-top: 5%;

}

.menu-item{
    align-items: center;
    image-resolution: 60px;
    cursor: pointer;
}
