<main>

<div class="logo-main-page"><img  routerLink="/pages/dashboard" src="assets/imagenes/Danone_Logo.png" width="200"></div>
<nav class="main-menu navbar">
  <ul STYLE="text-transform:uppercase">
    <li><a class="menu-item" routerLinkActive="active-menu" [routerLinkActiveOptions]="{exact:true}" 
        routerLink="/pages/dashboard">Inicio</a></li>
    <li class="dropdown-menu">
      <a class="menu-item" routerLinkActive="active-menu" [routerLinkActiveOptions]="{exact:true}" 
        routerLink="/pages/mi-cuenta">Mi Cuenta</a>
      <ul class="submenu">
        <li><a routerLinkActive="active-menu" [routerLinkActiveOptions]="{exact:true}" 
            routerLink="/pages/ingresos-gastos">Ingresos y Gastos</a></li>
      </ul>
    </li>
    <li class="dropdown-menu">
      <a class="menu-item" routerLinkActive="active-menu" [routerLinkActiveOptions]="{exact:true}"
              routerLink="/pages/transferencias-lista">Transferencias</a>
      <ul class="submenu">
        <li routerLinkActive="active-menu" [routerLinkActiveOptions]="{exact:true}"
            routerLink="/pages/transferencia-nueva"><a>Nueva Transferencia</a></li>
        <li routerLinkActive="active-menu" [routerLinkActiveOptions]="{exact:true}" 
            routerLink="/pages/transferencias-recibidas"><a>Transferencias Recibidas</a></li>
        <li routerLinkActive="active-menu" [routerLinkActiveOptions]="{exact:true}" 
            routerLink="/pages/transferencias-enviadas"><a>Transferencias Enviadas</a></li>
      </ul>
    </li>
    <li><a class="menu-item" routerLinkActive="active-menu" [routerLinkActiveOptions]="{exact:true}" 
      routerLink="/auth">Iniciar Sesión</a></li>
    <li><a (click)="cerrarSesion()" class="menu-item" >Cerrar Sesión</a></li>


  </ul>
</nav>
<!-- aquí se recarga el contenido al cambiar de ruta -->
<div class="contenedor">
  <router-outlet></router-outlet>
</div>

</main>