/* You can add global styles to this file, and also import other style files */
* {
    --text-color: rgb(91, 189, 219);
    --text-color-title: rgb(78, 138, 206);
    --text-negative-color: white;
    --text-secondary-color: rgb(91, 218, 175);
    --background-color-alternative: rgb(91, 189, 219);
    --submenu: rgba(78, 138, 206, 0.5);

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



html {

    margin: auto;
    max-width: 678px;
    background-color: var(--text-color);
}

h2,
h3 {
    color: var(--text-color-title)
}

h1{
    color: var(--text-negative-color);
    text-align: center;
}

a { 
    text-decoration: none;
}

p{
    color: var(--text-color)
}

p:hover{
    padding: 5px;
    color: var(--text-negative-color);
    background-color: var(--text-color)
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    color: var(--text-negative-color);
    font-weight: 600px;
    width: 100px;
}

li a:hover{
    color: var(--background-color-alternative);
    background-color: var(--text-negative-color);

}

.active-menu{
    background-color: var(--text-color-title);
}

.fila-tabla {
    display: flex;
    gap: 20px;

}



.cabeza-tabla {
    font-weight: 600;
}

.fila-tabla>div {
    width: 25%;
}

.navbar {
    font-size: 15px;
    padding: 15px;
}

.menu-item{
    font-weight:700;
}

input{
    border: 2px solid var(--text-color-title);
    border-radius: 20px;    
    color: var(--text-color-title);
    background-color: var(--text-negative-color);
    padding: 5px;
}

::placeholder{
    color: var(--submenu);
}

button{
    color:var(--text-negative-color);
    background-color: var(--submenu);
    border-radius: 20px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 10px;
}
button:hover {
    color: var(--text-negative-color);
    background-color: var(--text-color-title);
    font-size: 14px;
}

.main-menu{
    background-color: var(--text-color);
    margin-bottom: 25px;
}

.main-menu ul {
    justify-content: center;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 13px;
    gap: 20px;
}

.contenedor {
    list-style-type: none;
    border-radius: 15px;

    color: var(--text-color);
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    background-color: var(--text-negative-color);
}

.menu-transferencias{
    color: var(--text-color);
    padding-bottom: 5px;
}

.menu-transferencias:hover{
    color: var(--text-negative-color);
    background-color: var(--text-color);
}

/* @media(max-width: 768px){
    .main-menu ul{
    display: block;
    }
} */